node_modules/
.env
.env.*
uploads/
processed/
*.mp4
*.mov
*.mkv
*.avi
*.webm
*.log

serviceAccountKey.json
firebase-admin.js
server.js
hash-password.js
subscriptions.json
videos.json
package-lock.json
package.json
firestore.rules
firestore.indexes.json

.DS_Store

data/
git